.sideNav {
    height: 100%;
    box-shadow: 2px 0 5px rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    z-index: 200;
    background: #fff;
    opacity: 0.8;
}

.sideNav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 40%;
}

.sideNav ul li {
    margin: 0.5rem;
}

.sideNav ul a {
    color: hsl(350, 100%, 62%);
    font-size: 18px;
}