.sideNav {
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    width: 275px;
    z-index: 300;
    background: #fff;
    opacity: 0.9;
    transform: translateX(-100%);
    transition: transform 0.3s ease-out;
}

.sideNav.open {
    transform: translateX(0);
    box-shadow: 2px 0 5px rgba(0,0,0,0.5);
}

.sideNav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50%;
}

.sideNav ul li {
    margin: 0.5rem;
}

.sideNav ul a {
    color: hsl(350, 100%, 62%);
    font-size: 18px;
    width: 100%;
    cursor: pointer;
}

