.toggle-button {
    height: 24px;
    width: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}

.toggle-button:focus {
    outline: none;
}


.line {
    background: hsl(350, 100%, 62%);
    height: 2px;
    width: 30px;
}