.toolbar {
    width: 100%;
    border-bottom: solid 2px #e5e5e5;
}

.toolbar-nav {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 1rem;
    max-width: 1200px;
    margin: 0px auto;
}

.logo h2 {
    font-family: Pacifico;
    color: hsl(350, 100%, 62%);
    font-size: 30px;
}

.spacer {
    flex: 1;
}

.navItems ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navItems li {
    padding: 0 0.5rem;
}

.navItems a {
    color: hsl(350, 100%, 62%);
    text-decoration: none;
    cursor: pointer;
}