.toolbar {
    width: 100%;
    border-bottom: solid 2px #e5e5e5;
}

.toolbar-nav {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 1rem;
    max-width: 1200px;
    margin: 0px auto;
}

.logo h2 {
    font-family: Pacifico;
    color: hsl(350, 100%, 62%);
    font-size: 30px;
}

.spacer {
    flex: 1;
}

.navItems ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navItems li {
    padding: 0 0.5rem;
}

.navItems a {
    color: hsl(350, 100%, 62%);
    text-decoration: none;
    cursor: pointer;
    position: relative;
}

.navItems a:hover {
  color: hsl(350, 100%, 62%);
}

.navItems a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  top: 52px;
  bottom: 0;
  left: 0;
  background-color: hsl(350, 100%, 62%);
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.navItems a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}


