/*-- Resest Css --*/
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html {
  max-width: 100%;
  overflow-x: hidden;
}


/*-- Nav Css --*/

.nav {
  padding: 10px;
  border-bottom: solid 2px #e5e5e5;
}

.nav img {
  display: none;
}

.nav ul {
    text-align: right;
}

.nav ul li {
  display: inline-block;
}

.nav ul li a {
  color: #222;
  text-decoration: none;
  cursor: pointer;
  margin: 0px 10px 0px auto;
}

.nav ul li a:hover {
  color: #e5e5e5;
  text-decoration: none;
}

/*-- About Css --*/
#about {
  padding: 10px;
}

.title, .titleDesc {
    text-align: center;
}

.col {
  max-width: 1200px;
  margin: 10px auto;
  display: flex;
}
 
.col.col-left {
   width: 50%;
   float: left;
   text-align: left;
   padding-right: 20px;
}

.col.col-right {
    width: 50%;
    float: right;
    text-align: left;
    padding-left: 20px;
}

/*-- Work Css --*/
#work-logos {
    display: flex;
    max-width: 1200px;
    margin: 0px auto;
}

#work-logos.logo {
    padding: 0px 10px;
}

/*-- Footer Css --*/
.footer {
  background: #222;
  height: auto;
  padding: 10px;
}

.footer p {
  color: #fff;
}
