/*-- Resest Css --*/
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html {
  max-width: 100%;
  overflow-x: hidden;
}

/*-- Logo Css --*/
.logo {
  float: left;
  position: relative;
  margin: 0px auto;
  bottom: 15px;
}

.logo h2 {
  color: hsl(350,100%,62%);
  font-family: 'Pacifico', cursive;
  font-size: 25px;
}

/*-- Nav Css --*/
.nav {
  padding: 20px 10px;
  border-bottom: solid 2px #e5e5e5;
}

.nav img {
  display: none;
}

.nav ul {
    text-align: right;
}

.nav ul li {
  display: inline-block;
}

.nav ul li a {
  color: hsl(350,100%,62%);
  position: relative;
  text-decoration: none;
  margin: 0px 10px;
}

.nav ul li a:hover {
  color: hsl(350,100%,62%);
}

.nav ul li a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  top: 39px;
  background-color: hsl(350,100%,62%);
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.nav ul li a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/*-- About Css --*/
#about {
  padding: 10px;
}

.title, .titleDesc {
    text-align: center;
}

.col {
  max-width: 1200px;
  margin: 10px auto;
  display: flex;
}
 
.col.col-left {
   width: 50%;
   float: left;
   text-align: left;
   padding-right: 20px;
}

.col.col-right {
    width: 50%;
    float: right;
    text-align: left;
    padding-left: 20px;
}

/*-- Work Css --*/
#work-logos {
    display: flex;
    max-width: 1200px;
    margin: 0px auto;
}

#work-logos .work-logo {
    padding: 0px 10px;
    display: block;
    margin: auto;
}

/*-- Slider Css --*/
.slick-slider {
    margin: 20px auto;
}


.slick-slide img {
    display: block;
    margin: 0px auto;
}

/*-- Skills Css --*/
#skills {
  display: flex;
    margin: 0px auto;
  max-width: 1200px;
}

.skillBox {
  display: block;
  margin: 0px auto;
  width: 350px;
  border: solid 1px #e5e5e5;
  padding: 15px;
  border-radius: 3px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
  line-height: 30px;
}

.skillBox span {
    padding: 5px;
    border: solid 1px #e5e5e5;
    border-radius: 3px;
    width: 100%;
    cursor: pointer;
}

.skillBox span:hover {
    color: hsl(350,100%,62%);
}

.skillBox img {
    height: 250px;
    width: 100%;
}


/*-- Footer Css --*/
.footer {
  background: #222;
  height: auto;
  padding: 10px;
}

.footer p {
  color: #fff;
}
