.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}


.nav {
    padding: 10px;
    border-bottom: solid 2px #e5e5e5;
}
.nav ul li {
    display: inline-block;
}

.nav ul li a{
    color: #222;
    text-decoration: none;
    cursor: pointer;
    margin: 0px 10px;
}

.nav ul li a:hover{
    color: #e5e5e5;
    text-decoration: none;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
